<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/general.html :: headerfiles">
        <title>PassMan Login</title>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1>Log Into PassStore</h1>
            </div>
            <form action="#" th:action="@{/viewPasswords}" method="post">
                <label for="user">Username</label>
                <input type="text" placeholder="Enter Username" >
                <br>
                <label for="pswd">Password</label>
                <input type="password" placeholder="Enter Password" >
                <br>
                <input type="submit" value="Log In">
            </form>
			<p>Not signed up? Register<a href="/register"> here</a>!</p>
        </div>
    </body>
</html>