<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="/fragments/general.html :: headerfiles"?>
        <title>View Passwords</title>
    </head>
    <body>
        <div class="container">
            <table>
                <tr>
                    <th>Website</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr></tr>
            </table>
        </div>
    </body>
</html>