<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="/fragments/general.html :: headerfiles"?>
        <title>View Passwords</title>
    </head>
    <body>
        <div class="container">
            <a href="/logout">Log Out</a>
            <table>
                <tr>
                    <th>Website</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="aPassword:${passwordList}">
                    <td th:text="${aPassword.getWebsite()}"></td>
                    <td th:text="${aPassword.getUserEmail()}"></td>
                    <td th:text="${aPassword.getUserPass()}"></td>
                    <td><a th:href="@{/editPassword/}+${aPassword.getWebsite()}">Edit</a></td>
                    <td><a th:href="@{/deletePassword/}+${aPassword.getWebsite()}">Delete</a></td>
                </tr>
            </table>
            <a href="/addPassword">Add a Password</a>
            <p>Hello World</p>
        </div>
    </body>
</html>